<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="display: inline-flex; margin: 30px;">

        <div class="box1 col-md-6" style="border-right: 2px solid gray;">
            <form action="/add_words" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Add a New Word</label>
                    <input type="text" class="form-control" placeholder="enter word here" name="word"> {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="color" value="red" checked>
                    <label class="form-check-label">
                        Red
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="color" value="Green">
                    <label class="form-check-label">
                        Green
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="color" value="Blue">
                    <label class="form-check-label">
                        Blue
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="hidden" name="big_font" value="0">
                    <input class="form-check-input" style="font-size: 18cm" type="checkbox" name="big_font" value="1">
                    <label class="form-check-label">
                        Show in BIG fonts!
                    </label>
                </div>
                <button type="submit" class="btn btn-primary float-right">Add to Session</button>
        </div>
        </form>
        <div class="box2 col-md-6">
            <a class="btn btn-danger float-right" href="/clear" role="button">Clear Session</a>
            <div class="container col-md-6">
                <p>Added words</p>
                <ul class="list-group list-group-flush">
                    {% for word in word_list %}
                    <li class="list-group-item" style="color:{{word.color}}; font-size: {{word.showbig}};">{{word.word}} - added on {{word.time}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>