<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>

<body>
    <div class="box">
        <h2>Random Word (attempt # {{request.session.counter}})</h2>
        <div style="border: 1px solid black; padding:10px">
            <h2>{{word}}</h2>
        </div>
        <a href='/'><input type="button" name="button" value="Generate"></a>
        </form>
    </div>
</body>

</html>