<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container col-md-6" style="margin-top: 20px">
        <form action="/process" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Your Name</label>
                <input type="text" name="name" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label>Dojo Location</label>
                <select name="location" class="form-control">
            <option>Seattle</option>
            <option>San Diego</option>
            <option>Chicago</option>
            <option>Tulsa</option>
        </select>
            </div>
            <div class="form-group">
                <label>Favorite Language</label>
                <select class="form-control" name="language">
            <option>Python</option>
            <option>JavaScript</option>
            <option>Java</option>
            <option>C#</option>
        </select>
            </div>
            <div class="form-group">
                <label>Comment (optional):</label>
                <textarea name="comment" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>